    * {
        margin: 0;
        box-sizing: border-box;
    }
    /* Reglas generales */
    
    body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 100vh;
        align-content: flex-start;
    }
    
    footer {
        display: none;
    }
    
    header,
    nav {
        height: 10vh;
    }
    
    header,
    nav,
    aside,
    main,
    footer {
        padding: 15px;
        border: 1px solid black;
        flex-basis: 100%;
    }
    
    aside {
        flex-basis: 10%;
        padding: 5px;
        flex-grow: 1;
    }
    
    main {
        flex-basis: 80%;
        flex-grow: 2;
    }
    
    aside>a>img {
        width: 100%;
    }
    
    aside>a>span {
        font-size: 0.8em;
    }