* {
    /* Margin 0 para todos los elementos */
    margin: 0;
    /* Los bordes y el padding cuentan en el ancho */
    box-sizing: border-box;
    /* Los bordes y el padding no cuentan en el ancho
    box-sizing: content-box; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    padding-top: 15px;
    /* color de fondo */
    background-color: lightyellow;
    padding-top: 5px
    /* Altura del elemento, tiene que ser un elemento de bloque y 
    la especificaremos en pixeles o en vh */
    height: 50px;
    /* Position indica la posición del elemento con respecto
    a sus elementos adyacentes
    fixed, se mantiene en el mismo sitio aunque haya scroll
    absolute, lo posicionamos a mano y no se tiene en cuenta
    para los demás elementos
    relative, es el valor por defecto, quiere decir que se posicionan
    las cosas unas al lado de otras */
    position: absolute;
    /* cuando posicionamos de manera absolute o fixed
    podemos decirle a cuánta distancia estará de los bordes
    de la web top, bottom, left, right 
    El ancho del elemento, normalmente usaremos
    porcentajes */
    width: 100%;
    /* Esto significa que el borde tiene arriba 5px, izquierda y derecha 3px, abajo 2px
    border-style: solid;
    border-width: 5px 3px 2px;
    border-color: black;*/
    top: 0px;
}

nav {
    background-color: rgb(200, 195, 195);
    padding-top: 7px;
    padding-right: 7px;
    height: 50px;
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%%;
    text-align: center;
    /* Esto es para subir o bajar elementos cuando se solapen
    a modo de capas. Por defecto el valor es 0 así que 
    si le ponemos 1 quiere decir que estará por encima
    de los que estén a 0 */
    z-index: 1;
}

aside {
    padding: 10px;
    background-color: rgb(0, 140, 255);
    position: fixed;
    right: 0;
    width: 15%;
    top: 50px;
    border-right-style: solid;
    border-width: 1px;
    /* Calc nos permite hacer cálculos con
     medidas diferentes relativas y absolutas*/
    height: calc(100vh - 50px);
    overflow: auto;
}

main {
    background-color: rgba(0, 195, 255, 0.678);
    position: absolute;
    left: 0;
    width: 85%;
    top: 50px;
    /* min-height nos permite especificar una altura 
    mínima para los elementos, por si acaso el contenido
    no es lo suficientemente grande; */
    min-height: calc(100vh - 50px);
    /* El padding es equivalente a las 4 direcciones, vistas en dirección de las agujas del reloj empezando desde arriba*/
    padding: 2vh 2% 1vh 2%;
    padding-top: 2vh;
    padding-right: 2%;
    padding-bottom: 1vh;
    padding-left: 2%;
}


/* Todos los enlaces hijos directos de aside */

aside>a {
    margin: 10px;
    display: block
}

nav>a:hover,
aside>a:hover {
    border-color: black;
}

aside>a:visited,
nav>a:visited {
    color: blue;
}

aside>h1 {
    text-align: center;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 10px
}

nav>a {
    display: inline-block;
    width: 151px;
}

nav>a,
aside>a {
    background-color: yellow;
    border-style: solid;
    border-color: yellow;
    border-width: 2px;
    text-align: center;
    padding: 5px;
    border-radius: 40px;
    text-decoration: none;
}

header>img {
    width: 40px;
    height: 40px;
}

#video_oculto {
    display: none
}

main:hover #video_oculto {
    display: inline;
}


/* En el momento de hacer click en el botón, el borde se pone blanco*/

:active>a:active {
    border-color: white;
}

aside>p {
    border-top-style: solid;
    border-color: black;
    text-align: center;
}

footer {
    bottom: 0px;
}