* {
    margin: 10px auto 10px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

td,
th {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    padding: 5px;
}

.estudio {
    background-color: rgb(64, 97, 105);
    color: white;
}

.deporte {
    background-color: darkgoldenrod;
    color: white;
}

.comida {
    background-color: grey;
    color: white;
}

.EIE {
    background-color: rgb(255, 128, 124);
}

.LEP {
    background-color: rgb(179, 132, 218);
}

.SOR {
    background-color: rgb(252, 192, 81);
}

.SR {
    background-color: rgb(160, 190, 255);
}

.AW {
    background-color: rgb(255, 222, 131);
}

.SI {
    background-color: rgb(69, 206, 69);
}

tfoot>p {
    right: 0;
}

span {
    display: block;
}

@media (480px) {}