* {
    margin: 5px;
    box-sizing: border-box;
}

td,
th {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    padding: 5px;
}

td {}

tfoot>p {
    right: 0;
}

@media (480px) {}